name: CI/CD Pipeline
on:
  push:
    branches:
      - master
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: build Docker Image
        uses: docker build -t spring-boot-app:latest .
